@import "@/styles/variables.module.scss";

.card {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $card-background;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: border 0.3s ease, color 0.3s ease;
}

.card:hover {
  background-color: $card-background-hover;
  border: 2px solid $card-border;
}

.kanji,
.reading,
.translation {
  margin: 8px;
}

.kanji {
  font-size: 32px;
}

.reading {
  font-size: 24px;
}

.translation {
  font-size: 16px;
}
